.menu-item {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(125, 97, 97, 0.2);
}

.menu-item div {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-item button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-item > div,
.menu-item button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-item div:hover,
.menu-items button:hober {
  background-color: #f2f2f2;
}

.down-arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.right-arrow {
  margin-left: auto;
}

.context-menu-wrap {
  position: absolute;
  cursor: pointer;
}

.context-menu {
  list-style: none;
  position: inherit;
  box-shadow: 0 10px 15px -3px hwb(0 98% 2% / 0.815),
    0 4px 6px -2px rgba(250, 247, 250, 0.735);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  background-color: rgb(228, 226, 226);
  border-radius: 0.2rem;
  color: rgb(53, 50, 50);
}

.context-menu > .menu-item {
  background-color: rgb(228, 226, 226);
}
